In [1]:
# importing some useful libraries
import pandas as pd
import numpy as np
from openpyxl import load_workbook
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [4]:
df= pd.read_excel("/content/test-dataset.xlsx")

In [5]:
df.head()

,Unnamed: 0,household_id,total_income,union_name,user_id,profile_name,father_name,mother_name,birthday,age,...,RESULT_STAT_BMI,SUGAR,TAG_NAME,RESULT_STAT_SUGAR,PULSE_RATE,RESULT_STAT_PR,SPO2,RESULT_STAT_SPO2,MUAC,RESULT_STAT_MUAC
0,1,241175,Lower class,KOLA,988794,মো: সাগরহোসেন,0.0,0.0,2001-11-05 18:00:00,19,...,NaN,NaN,NaN,NaN,96.0,Normal,97.0,Normal,NaN,NaN
1,2,241176,Lower class,KOLA,988796,মোছা:তামান্না,0.0,0.0,2000-06-18 18:00:00,20,...,NaN,NaN,NaN,NaN,89.0,Normal,NaN,NaN,NaN,NaN
2,3,241179,Lower class,KOLA,988802,শুকুরুচন্দ্র,0.0,0.0,1978-06-04 18:00:00,42,...,NaN,NaN,NaN,NaN,69.0,Normal,NaN,NaN,NaN,NaN
3,4,241180,Lower class,KOLA,988807,দিপালীরাণী,0.0,0.0,1956-02-02 18:00:00,64,...,NaN,8.72,Random,Normal,85.0,Normal,NaN,NaN,NaN,NaN
4,5,241181,Lower class,KOLA,988809,বুলবুলি,0.0,0.0,1996-12-25 18:00:00,23,...,NaN,NaN,NaN,NaN,101.0,High,NaN,NaN,NaN,NaN

In [6]:
df.shape

(29999, 34)

In [7]:
df.isnull().sum()

Unnamed: 0                        0
household_id                      0
total_income                      0
union_name                        0
user_id                           0
profile_name                      0
father_name                    4438
mother_name                    4452
birthday                          0
age                               0
gender                            0
is_poor                           0
is_freedom_fighter                0
had_stroke                        0
has_cardiovascular_disease        0
disabilities_name                 0
diabetic                          0
profile_hypertensive              0
SYSTOLIC                       2399
DIASTOLIC                      2399
RESULT_STAT_BP                 2399
HEIGHT                        28871
WEIGHT                        28871
BMI                           28871
RESULT_STAT_BMI               28871
SUGAR                         28416
TAG_NAME                      28416
RESULT_STAT_SUGAR             28416
PULSE_RATE                     2544
RESULT_STAT_PR                 2544
SPO2                          25654
RESULT_STAT_SPO2              25654
MUAC                          29925
RESULT_STAT_MUAC              29925
dtype: int64

In [8]:
df1=df.drop(columns=
            ['RESULT_STAT_MUAC',
            'MUAC',
            'RESULT_STAT_SPO2',
            'SPO2',
            'RESULT_STAT_SUGAR',
            'TAG_NAME',
            'SUGAR',
            'RESULT_STAT_BMI',
            'birthday',
             'BMI',
             'HEIGHT',
             'WEIGHT',
             "profile_name",
"father_name",
"mother_name" ,
             "household_id"	,
             "user_id",

             'Unnamed: 0'],axis=1)

In [9]:
df1.head()

,total_income,union_name,age,gender,is_poor,is_freedom_fighter,had_stroke,has_cardiovascular_disease,disabilities_name,diabetic,profile_hypertensive,SYSTOLIC,DIASTOLIC,RESULT_STAT_BP,PULSE_RATE,RESULT_STAT_PR
0,Lower class,KOLA,19,Male,0,0,0,0,0,False,False,130.0,84.0,Prehypertension,96.0,Normal
1,Lower class,KOLA,20,Female,0,0,0,0,0,False,False,148.0,74.0,Mild High,89.0,Normal
2,Lower class,KOLA,42,Male,0,0,0,0,0,False,False,121.0,75.0,Prehypertension,69.0,Normal
3,Lower class,KOLA,64,Female,0,0,0,0,0,False,False,111.0,64.0,Normal,85.0,Normal
4,Lower class,KOLA,23,Female,0,0,0,0,0,False,False,123.0,66.0,Prehypertension,101.0,High

In [10]:
df1.isnull().sum()

total_income                     0
union_name                       0
age                              0
gender                           0
is_poor                          0
is_freedom_fighter               0
had_stroke                       0
has_cardiovascular_disease       0
disabilities_name                0
diabetic                         0
profile_hypertensive             0
SYSTOLIC                      2399
DIASTOLIC                     2399
RESULT_STAT_BP                2399
PULSE_RATE                    2544
RESULT_STAT_PR                2544
dtype: int64

In [11]:
df1=df1.dropna()

In [12]:
df1.isnull().sum()

total_income                  0
union_name                    0
age                           0
gender                        0
is_poor                       0
is_freedom_fighter            0
had_stroke                    0
has_cardiovascular_disease    0
disabilities_name             0
diabetic                      0
profile_hypertensive          0
SYSTOLIC                      0
DIASTOLIC                     0
RESULT_STAT_BP                0
PULSE_RATE                    0
RESULT_STAT_PR                0
dtype: int64

In [13]:
df1.shape

(27404, 16)

In [14]:
# target_variable = 'has_cardiovascular_disease'
# categorical_features = ['total_income',
#                         'union_name',
#                         'profile_name',
#                         'gender',
#                         'diabetic',
#                         'profile_hypertensive',
#                         'RESULT_STAT_BP',
#                         'RESULT_STAT_PR'
#                         ]
# numerical_features = ['SYSTOLIC',
#                       'DIASTOLIC',
#                       'PULSE_RATE',
#                       'user_id',
#                       'household_id',
#                       'age',
#                       'father_name',
#                       'mother_name',
#                       'is_poor',
#                       'is_freedom_fighter',
#                       'had_stroke',
#                       'disabilities_name',
#                       ]

In [15]:
from sklearn.preprocessing import LabelEncoder

In [16]:
label_encoder = LabelEncoder()

In [17]:
df1.total_income = label_encoder.fit_transform(df1.total_income)

In [18]:
df1.union_name = label_encoder.fit_transform(df1.union_name)

In [19]:
df1.gender = label_encoder.fit_transform(df1.gender)

In [20]:
df1.diabetic = label_encoder.fit_transform(df1.diabetic)

In [21]:
df1.profile_hypertensive = label_encoder.fit_transform(df1.profile_hypertensive)

In [22]:
df1.RESULT_STAT_BP = label_encoder.fit_transform(df1.RESULT_STAT_BP)

In [23]:
df1.RESULT_STAT_PR = label_encoder.fit_transform(df1.RESULT_STAT_PR)

In [24]:
df1.head()

,total_income,union_name,age,gender,is_poor,is_freedom_fighter,had_stroke,has_cardiovascular_disease,disabilities_name,diabetic,profile_hypertensive,SYSTOLIC,DIASTOLIC,RESULT_STAT_BP,PULSE_RATE,RESULT_STAT_PR
0,0,10,19,1,0,0,0,0,0,0,0,130.0,84.0,5,96.0,2
1,0,10,20,0,0,0,0,0,0,0,0,148.0,74.0,2,89.0,2
2,0,10,42,1,0,0,0,0,0,0,0,121.0,75.0,5,69.0,2
3,0,10,64,0,0,0,0,0,0,0,0,111.0,64.0,4,85.0,2
4,0,10,23,0,0,0,0,0,0,0,0,123.0,66.0,5,101.0,0

In [25]:
from statsmodels.formula.api import ols
import statsmodels.api as sm

In [26]:
target1=ols('PULSE_RATE~total_income+union_name+gender+diabetic+profile_hypertensive+RESULT_STAT_BP+RESULT_STAT_PR',data=df1).fit()

In [27]:
ans1=sm.stats.anova_lm(target1,type=2)

In [28]:
ans1

,df,sum_sq,mean_sq,F,PR(>F)
total_income,1.0,5.607400e+02,560.739993,4.432805,3.526361e-02
union_name,1.0,3.015303e+01,30.153031,0.238368,6.253912e-01
gender,1.0,7.044946e+04,70449.457073,556.922452,6.475320e-122
diabetic,1.0,1.456313e+02,145.631278,1.151256,2.832959e-01
profile_hypertensive,1.0,1.309878e+04,13098.775303,103.549443,2.805409e-24
RESULT_STAT_BP,1.0,2.018001e+03,2018.000924,15.952856,6.510922e-05
RESULT_STAT_PR,1.0,8.549415e+05,854941.452428,6758.548753,0.000000e+00
Residual,27396.0,3.465533e+06,126.497786,NaN,NaN

In [29]:
target2=ols('SYSTOLIC~total_income+union_name+gender+diabetic+profile_hypertensive+RESULT_STAT_BP+RESULT_STAT_PR',data=df1).fit()

In [30]:
ans2=sm.stats.anova_lm(target2,type=2)

In [31]:
ans2

,df,sum_sq,mean_sq,F,PR(>F)
total_income,1.0,2.672500e+04,26725.001906,66.212105,4.219241e-16
union_name,1.0,5.588213e+04,55882.126170,138.449877,6.934343e-32
gender,1.0,1.899286e+05,189928.605068,470.554609,1.804580e-103
diabetic,1.0,7.451402e+04,74514.017465,184.611024,6.525804e-42
profile_hypertensive,1.0,4.739143e+05,473914.309244,1174.138894,5.334701e-252
RESULT_STAT_BP,1.0,8.531221e+04,85312.213581,211.363924,1.042585e-47
RESULT_STAT_PR,1.0,1.756423e+03,1756.422711,4.351597,3.698348e-02
Residual,27396.0,1.105777e+07,403.627128,NaN,NaN

In [32]:
target3=ols('DIASTOLIC~total_income+union_name+gender+diabetic+profile_hypertensive+RESULT_STAT_BP+RESULT_STAT_PR',data=df1).fit()

In [33]:
ans3=sm.stats.anova_lm(target3,type=2)

In [34]:
ans3

,df,sum_sq,mean_sq,F,PR(>F)
total_income,1.0,6.840338e+03,6840.337671,48.680335,3.081212e-12
union_name,1.0,1.841055e+04,18410.552492,131.021583,2.870050e-30
gender,1.0,3.574253e+04,35742.527715,254.367301,5.238564e-57
diabetic,1.0,1.104616e+04,11046.160166,78.611730,8.009035e-19
profile_hypertensive,1.0,6.878990e+04,68789.902760,489.554126,1.560701e-107
RESULT_STAT_BP,1.0,1.090160e+05,109016.049045,775.829802,2.160758e-168
RESULT_STAT_PR,1.0,4.163186e+04,41631.863474,296.279682,4.742998e-66
Residual,27396.0,3.849560e+06,140.515418,NaN,NaN

# Analytic Outcomes
H0 = There is no significant difference

H1 = There is significant difference
1. The ”pulse rate” is significantly affected by whether someone is diabetic or not as null
hypothesis is rejected.
2. ”pulse rate” is significantly affected by the different ”union name” groups as alternative
hypothesis is accepted.
3